*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.header{
  background-color: #ff00ff;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.header > div :first-child {
  margin-right: auto;
}

.header > div{
 flex-basis: 140px;
 height: 70px;
 margin: 0 10px;
 background-color: #f499f0;
}

.main{
  display: flex;
  justify-content: center;
}

.sidebar{
  width: 300px;
  background-color: #90ce9c;
}

.contents{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  flex-grow: 1;
  background-color: #228b22;
  justify-content: center;
}

.contents>div{
  height: 130px;
  margin: 10px;
  flex-basis: 200px;
  background-color: #ffd700;
}

.footer {
  background-color: #52a1ff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer > div {
  background-color: #b6e7ff;
  width: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
}




